<title>
  {{ page_title }}
  {% if current_tags %}
    &ndash; tagged "{{ current_tags | join: ', ' }}
    "{% endif %}
  {% if current_page != 1 %}
    &ndash; Page
    {{ current_page }}
  {% endif %}
  {% unless page_title contains shop.name %}
    &ndash;
    {{ shop.name }}
  {% endunless %}
</title>

{% if page_description %}
  {% unless template contains 'blank' %}
    <meta name="description" content="{{ page_description | escape }}"/>
  {% endunless %}
{% endif %}

<!-- Canonical URL -->
{% if template contains 'collection' %}
  {% if product == blank and collection and collection.metafields.nosto != blank %}
  <link rel="canonical" href="{{shop.url}}/collections/{{collection.metafields.nosto.sourceHandle}}">
  {% else %}
  <link rel="canonical" href="{{ shop.url }}{{ collection.url }}"/>
{% endif %}
{% elsif template contains 'product' %}
  <link rel="canonical" href="{{ shop.url }}{{ product.url }}"/>
{% elsif template contains 'page' %}
  <link rel="canonical" href="{{ shop.url }}{{ page.url }}"/>
{% elsif template contains 'blog' %}
  <link rel="canonical" href="{{ shop.url }}{{ blog.url }}"/>
{% elsif template contains 'article' %}
  <link rel="canonical" href="{{ shop.url }}{{ article.url }}"/>
{% else %}
  <link rel="canonical" href="{{ canonical_url }}"/>
{% endif %}

{% if settings.apple_touch_icon != blank %}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ settings.apple_touch_icon | img_url: '180x180' }}">
{% endif %}

{% if settings.favicon != blank %}
  <link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '16x16' }}" sizes="16x16">
{% endif %}

<meta name="theme-color" content="black">
<meta name="msapplication-TileColor" content="black">
