<aside class="js-offcanvas Offcanvas --hidden">
  <div id="js-offcanvas-bg"></div>
{%- comment -%}
  <div class="js-offcanvas-drawer Offcanvas-Drawer Offcanvas-Drawer-Col" data-drawer-names="{{col_drawer_name}}">
    {%- for link in col_list -%}

    {%- for child_link in link.links -%}

    <div class="Offcanvas-Drawer-ColLink-container">
      <a class="Offcanvas-Drawer-ColLink {%- if child_link.title == 'Sale' -%}{{'--sale' | prepend: ' '}}{%- endif -%}" {%- if child_link.type=='collection_link' -%}
        data-col-image="{{child_link.object.featured_image | image_url}}" {%- endif -%} href="{{child_link.url}}">{{child_link.title}}</a>
      {% if child_link.links.size > 0 %}
        <div class="invisible-toggle-button"></div>
      {% endif %}
      

      {% if child_link.links.size > 0 %}
      <div class="hidden-3-deep container-height-{{child_link.links.size}}">
        {%- for last_link in child_link.links -%}
        {%- assign clean_last = last_link.title | strip | downcase -%}
        <!-- 3 deep -->
        <a class="Offcanvas-Drawer-ColLink {%- if clean_last == 'sale' -%}{{'--sale' | prepend: ' '}}{%- endif -%}" {%- if last_link.type=='collection_link' -%}
          data-col-image="{{last_link.object.featured_image | image_url}}" {%- endif -%} href="{{last_link.url}}">{{clean_last}}</a>
        {%- endfor -%}
      </div>
      {% endif %}

    </div>
    {%- endfor -%}
    <br>
    {%- endfor -%}
  
  
    <div class="Offcanvas-Drawer-ColImg o-placeholder"></div>
   
  </div> {%- endcomment -%}
  {%- comment -%}
  <div class="js-offcanvas-drawer Offcanvas-Drawer Offcanvas-Drawer-Row" data-drawer-names="{{row_drawer_name}}">
    {%- for link in row_list -%}

    <div class="Offcanvas-Drawer-Row-rows">

      <p class="Offcanvas-Drawer-RowTitle">{{link.title}}</p>

      {%- for child_link in link.links -%}
      <div class="Offcanvas-Drawer-RowCol">
        {%- assign clean_title = child_link.title | strip | downcase -%}
        <a class="Offcanvas-Drawer-RowLink" href="{{child_link.url}}">{{clean_title}}</a>

        {%- for last_link in child_link.links -%}
        {%- assign clean_last = last_link.title | strip | downcase -%}
        <a class="Offcanvas-Drawer-RowLink" style="margin-left: 10px;" href="{{last_link.url}}">{{clean_last}}</a>
        {%- endfor -%}
      </div>
      {%- endfor -%}
    </div>

    {%- endfor -%}
  </div>
{%- endcomment -%}
  <div class="js-offcanvas-drawer Offcanvas-Drawer Search-Drawer" data-drawer-names="search">
    <div class="Search-InputHolder">
      <input class="js-search-input Search-Input" type="text" />
    </div>
    <div class="js-search-feed Search-Feed">
      <script type="application/json">
        {
          "moneyFormat": {{ shop.money_format | json }}
        }
      </script>
    </div>
  </div>

  <div class="js-offcanvas-drawer Offcanvas-Drawer" data-drawer-names="cart">
    <div id="js-cart-drawer">
      <script type="application/json">
        {
          "moneyFormat": {{ shop.money_format | json }}
        }
      </script>

      <div class="CartDrawer">
        <header class="CartDrawer-title">
          <a class="CartDrawer-titleLink" href="/cart">
            {{ 'cart.general.item_count' | t: count:cart.item_count }}
          </a>
        </header>
      </div>
    </div>
  </div>
</aside>