<main class="Customer Customer--narrow" role="main">
<div class="column row">

  <div class="Customer-form">
    <h3 class="Customer-formTitle">
      {{ 'customer.reset_password.heading' | t }}
    </h3>
    <p>
      {{ 'customer.reset_password.subhead' | t: email: email }}
    </p>

    {% form 'reset_customer_password' %}
      {% if form.errors %}
        <div class="o-formErrors">
          <p>{{ 'general.form.errors_were_encountered' | t }}</p>
          {{ form.errors | default_errors }}
        </div>
      {% endif %}

      <label for="password" class="u-vhide">
        {{ 'customer.reset_password.password' | t }}
      </label>
      <input type="password" name="customer[password]" id="password" value="" placeholder="{{ 'customer.reset_password.password' | t }}"/>

      <label for="password_confirm" class="u-vhide">
        {{ 'customer.reset_password.password_confirm' | t }}
      </label>
      <input type="password" name="customer[password_confirmation]" id="password_confirm" value="" placeholder="{{ 'customer.reset_password.password_confirm' | t }}"/>

      <input type="submit" class="o-button" value="{{ 'customer.reset_password.submit' | t }}" />
    {% endform %}
  </div>

</div>
</main>
