<header class="header custom-header">
    <div class="nav {{ section.settings.main_menu_color }}">
        <div class="header-logo">
            <a class="header-logo-link" href="/">
                <div class="header-image-placeholder">
                    <span class="u-vhide">
                        {{ shop.name }}
                    </span>
                    {% render 'svg-logo' %}
                </div>
            </a>
        </div>
        <nav class="navigation-menu">
            <a href="javascript:void(0);" class="mobile-menu-trigger" id="navigation-menu-toggle">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation"
                    class="icon icon-hamburger" fill="none" viewBox="0 0 18 16">
                    <path
                        d="M1 .5a.5.5 0 100 1h15.71a.5.5 0 000-1H1zM.5 8a.5.5 0 01.5-.5h15.71a.5.5 0 010 1H1A.5.5 0 01.5 8zm0 7a.5.5 0 01.5-.5h15.71a.5.5 0 010 1H1a.5.5 0 01-.5-.5z"
                        fill="currentColor">
                </svg>
            </a>
            <ul class="menu menu-bar" id="accessibleNav">
            <li class="mobile-menu-header">
                <a href="javascript:void(0);" class="">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation"
                        class="icon icon-close" id="hamburger-menu-close" fill="none" viewBox="0 0 18 17">
                        <path
                            d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z"
                            fill="currentColor">
                    </svg>
                </a>
                    <div class="header-image-placeholder">
                        <span class="u-vhide">
                            {{ shop.name }}
                        </span>
                        {% render 'svg-logo' %}
                    </div>
            </li>
            <li class="navigation-nosto-section navigation-nosto-section-mobile">
                <div class="nosto-image-grid-main">
                <div class="navigation-image-grid">
                    <div class="navigation-image-item">
                        <a href="/collections/new-womens-clothing" class="navigation-image-item-link">
                            <div class="image-block">
                                <img
                                    src="https://cdn.shopify.com/s/files/1/1231/1148/files/menu-bestsellers.jpg?v=1675686298">
                            </div>
                            <div class="text-block">
                                <p>NEW DROP</p>
                            </div>
                        </a>
                    </div>
                    <div class="navigation-image-item">
                        <a href="/collections/best-sellers" class="navigation-image-item-link">
                            <div class="image-block">
                                <img src="https://cdn.shopify.com/s/files/1/1231/1148/files/menu-newdrop.jpg?v=1675686365">
                                </div>
                            <div class="text-block">
                                <p>BEST SELLERS</p>
                            </div>
                        </a>
                    </div>
                    <div class="navigation-image-item">
                        <a href="/collections/the-latex-shop" class="navigation-image-item-link">
                            <div class="image-block">
                                <img
                                    src="https://cdn.shopify.com/s/files/1/1231/1148/files/menu-latex.jpg?v=1675686298">
                            </div>
                            <div class="text-block">
                                <p>LATEX</p>
                            </div>
                        </a>
                    </div>
                    <div class="navigation-image-item">
                        <a href="/collections/corsets" class="navigation-image-item-link">
                            <div class="image-block">
                                <img
                                    src="https://cdn.shopify.com/s/files/1/1231/1148/files/menu-corset.jpg?v=1675686298">
                            </div>
                            <div class="text-block">
                                <p>THE CORSET</p>
                            </div>
                        </a>
                    </div>
                </div>
                </div>

            </li>

                {% for link in linklists[section.settings.menu].links %}
                {% assign child_list_handle = link.title | handleize %}
                {% if linklists[child_list_handle].links != blank %}
                <li class="main-sub-nav site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}"
                    aria-label="{{ link.title }}">
                    <a class="menu-link menu-bar-link" href="javascript:void(0);" aria-haspopup="true">
                        {{ link.title }}
                    </a>
                    <ul class="mega-menu mega-menu--multiLevel">
                        <li class="mobile-menu-back-item">
                            <a href="javascript:void(0);" class="menu-link mobile-menu-back-link">Back</a>
                        </li>
                        <li class="navigation-nosto-section">
                            <div class="navigation-image-grid">
                                <div class="navigation-image-item">
                                    <a href="/collections/new-womens-clothing" class="navigation-image-item-link">
                                        <div class="image-block">
                                            <img src="https://cdn.shopify.com/s/files/1/1231/1148/files/menu-bestsellers.jpg?v=1675686298">
                                            </div>
                                            <div class="text-block">
                                                <p> NEW DROP</p>
                                            </div>
                                    </a>
                                </div>
                                <div class="navigation-image-item">
                                    <a href="/collections/best-sellers" class="navigation-image-item-link">
                                        <div class="image-block">
                                            <img src="https://cdn.shopify.com/s/files/1/1231/1148/files/menu-newdrop.jpg?v=1675686365">
                                            </div>
                                        <div class="text-block">
                                            <p>BEST SELLERS</p>
                                        </div>
                                        </a>
                                </div>
                                <div class="navigation-image-item">
                                    <a href="/collections/the-latex-shop" class="navigation-image-item-link">
                                        <div class="image-block">
                                            <img
                                                src="https://cdn.shopify.com/s/files/1/1231/1148/files/menu-latex.jpg?v=1675686298">
                                        </div>
                                        <div class="text-block">
                                            <p>LATEX</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="navigation-image-item">
                                    <a href="/collections/corsets" class="navigation-image-item-link">
                                        <div class="image-block">
                                            <img
                                                src="https://cdn.shopify.com/s/files/1/1231/1148/files/menu-corset.jpg?v=1675686298">
                                        </div>
                                        <div class="text-block">
                                            <p>THE CORSET</p>
                                        </div>
                                    </a>
                                </div>
                                    </div>
                                    </li>
                                    <li class="universe-banner-section">
                                        <div class="universe-banner">
                                            <div class="universe-image-container">
                                                <img src="https://cdn.shopify.com/s/files/1/1231/1148/files/universe-banner.jpg?v=1674542652"
                                                    alt="universe-banner" />
                                            </div>
                                            <div class="universe-text-container">
                                                <h5>Join Miaou Rewards</h5>
                                                <p>Start earning points and exclusive rewards every time you shop</p>
                                            </div>
                                        </div>
                                    </li>
                                    {% for childlink in linklists[child_list_handle].links %}
                                        {% if childlink.links != blank %}
                                    <li class="site-sub-nav--has-submenu-dropdown {% if childlink.active %}site-nav--active{% endif %}" aria-label="{{
                                                                                                                childlink.title | escape }}">
                                        <a class="menu-link mega-menu-link site-sub-nav--has-dropdown" href="javascript:void(0);" aria-haspopup="true">{{
                                            childlink.title | escape }}</a>
                                        <ul class="menu menu-list submenu-sub-dropdown-list">
                                            {% for grandchild_link in childlink.links %}
                                            <li {% if grandchild_link.active%}class="grand_child_active{% if grandchild_link.child_active %}child-active{% endif %}"
                                                {% endif %}>
                                                <a class="menu-link mega-menu-link" href="{{ grandchild_link.url }}">{{
                                                    grandchild_link.title }}</a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    {% else %}
                                <li class="{% if childlink.active %}site-nav--active{% endif %}" aria-label="{{
                                                                    childlink.title | escape }}">
                                    <a class="menu-link mega-menu-link no-sub-dropdown" href="{{ childlink.url }}">{{
                                            childlink.title | escape }}</a>
                                    </li>
                                {% endif %}
                                    </li>
                        {% endfor %}

            </ul>
            </li>
            {% else %}
            <li class="main-sub-nav {% if link.active %} site-nav--active {% endif %}" aria-label="{{ link.title }}">
                <a class="menu-link mega-menu-link" href="{{ link.url }}">{{ link.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
            
            </ul>
        </nav>
        <div class="header_icons">
            <nav class="navigation-menu navigation-menu-universe">
                <ul class="menu menu-bar" id="accessibleNav">
                    {% for link in linklists[section.settings.menu].links %}
                    {% assign child_list_handle = link.title | handleize %}
                    {% if linklists[child_list_handle].links != blank %}
                    <li class="main-sub-nav site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}"
                        aria-label="{{ link.title }}">
                        <a class="menu-link menu-bar-link" href="javascript:void(0);" aria-haspopup="true">
                            {{ link.title }}
                        </a>
                        <ul class="mega-menu mega-menu--multiLevel">
                            {% for childlink in linklists[child_list_handle].links %}
                            <li class="{% if childlink.active %}site-nav--active {% endif %}">
                                {% if childlink.links != blank %}
                                <a class="menu-link mega-menu-link site-sub-nav--has-dropdown"
                                    href="javascript:void(0);" aria-haspopup="true">{{ childlink.title | escape }}</a>
                                <ul class="menu menu-list">
                                    {% for grandchild_link in childlink.links %}
                                    <li {% if
                                        grandchild_link.active%}class="grand_child_active {% if grandchild_link.child_active %}child-active{% endif %}" {%
                                        endif %}>
                                        <a class="menu-link mega-menu-link" href="{{ grandchild_link.url }}">{{
                                            grandchild_link.title }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% else %}
                                <a class="menu-link mega-menu-link no-sub-dropdown" href="{{ childlink.url }}">{{
                                    childlink.title | escape }}</a>
                                {% endif %}
                            </li>
                    </li>
                    {% endfor %}
                    <li class="mobile-menu-back-item">
                        <a href="javascript:void(0);" class="menu-link mobile-menu-back-link">Back</a>
                    </li>
                    <li class="universe-banner-section">
                        <div class="universe-banner">
                            <div class="universe-image-container">
                                <img src="https://cdn.shopify.com/s/files/1/1231/1148/files/universe-banner.jpg?v=1674542652"
                                    alt="universe-banner" />
                            </div>
                            <div class="universe-text-container">
                                <h5>Join Miaou Rewards</h5>
                                <p>Start earning points and exclusive rewards every time you shop</p>
                            </div>
                    
                        </div>
                    </li>
                </ul>
                </li>
                {% else %}
                <li class="main-sub-nav {% if link.active %} site-nav--active {% endif %}"
                    aria-label="{{ link.title }}">
                    <a class="menu-link mega-menu-link" href="{{ link.url }}">{{ link.title }}</a>
                </li>
                {% endif %}
                {% endfor %}
                </ul>
            </nav>
            <a class="HeaderMenu-itemLink js-offcanvas-trigger" data-drawer-name="search" title="Search">
                <div class="HeaderMenu-SearchIcon">{% render 'svg-search' %}
                </div>
                <span class="HeaderMenu-SearchTitle">Search</span>
            </a>
            <a href="/account" class="HeaderMenu-itemLink" title="Account">
                {% if customer %}
                <span class="HeaderMenu-SearchTitle">Account</span>
                {% else %}
                <span class="HeaderMenu-SearchTitle">Login</span>
                {% endif %}
                <div class="HeaderMenu-AccountIcon">
                    {% render 'svg-account' %}
                </div>
            </a>
            <a class="HeaderMenu-itemLink js-offcanvas-trigger" data-drawer-name="cart" title="Cart" id="cart_link">
                <div class="HeaderMenu-CartTitle">
                    {% render 'icon-cart' %}
                </div>
                <div class="HeaderMenu-CartCount js-cart-item-count" data-item-count="0">0</div>
            </a>

            {% render 'offcanvas' %}
            </div>
    </div>
    <div class="mobile-fixed-menu mobile-fixed-menu-{{ section.settings.main_menu_color }}">
        <ul>
            {%- for link in linklists[section.settings.mobile-fixed-menu].links -%}
            <li>
                <a href="{{ link.url }}" {% if link.active %}aria-current="page" {% endif %}>
                    {{ link.title }}
                </a>
    
                {%- if link.links != blank -%}
                <ul>
                    {%- for child_link in link.links -%}
                    <li>
                        <a href="{{ child_link.url }}" {% if child_link.active %}aria-current="page" {% endif %}>
                            {{ child_link.title }}
                        </a>

                    {%- if child_link.links != blank -%}
                    <ul>
                        {%- for grandchild_link in child_link.links -%}
                        <li>
                            <a href="{{ grandchild_link.url }}" {% if grandchild_link.active %}aria-current="page" {% endif %}>
                                {{ grandchild_link.title }}
                            </a>
                        </li>
                        {%- endfor -%}
                    </ul>
                    {%- endif -%}

                </li>
                {%- endfor -%}
                </ul>
                {%- endif -%}
                
                </li>
                {%- endfor -%}
                </ul>
    </div>

</header>

{% schema %}
  {
    "name": "Custom Header",
    "class": "section-header",
    "settings": [
        {
            "type":"select",
            "id":"main_menu_color",
            "options":[
            {
            "value":"black-menu",
            "label":"Black Menu"
            },
            {
            "value":"white-menu",
            "label":"White Menu"
            }
            
            ],
            "default":"white-menu",
            "label":"Select Menu Color"
            },
            {
            "type": "link_list",
            "id": "menu",
            "default": "main-menu",
            "label": "Select Menu"
            },
            {
            "type": "link_list",
            "id": "mobile-fixed-menu",
            "default": "main-menu",
            "label": "Select mobile fixed menu"
            },
            {
            "type": "link_list",
            "id": "universe_menu",
            "default": "main-menu",
            "label": "Select Universe menu"
            }
    
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}

{% endjavascript %}